BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
TabWidth: 2
IndentWidth: 2
NamespaceIndentation: All
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 120
BraceWrapping:
  AfterStruct: true

AlignAfterOpenBracket: Align
InsertNewlineAtEOF: false
