BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
TabWidth: 4
ReferenceAlignment: Left
IndentWidth: 4
NamespaceIndentation: All
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 96
BraceWrapping:
  AfterStruct: true

AlignAfterOpenBracket: BlockIndent
