BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
TabWidth: 2
IndentWidth: 2
NamespaceIndentation: All
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
