[submodule "vendor/rlImGui"]
	path = vendor/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "vendor/argumentum"]
	path = vendor/argumentum
	url = https://github.com/mmahnic/argumentum.git
[submodule "vendor/ImGuiFileDialog"]
	path = vendor/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui/
